{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
  
  {% if career-profile.student-expectations %}
  <div class="student-expectations" style="margin-top: 20px; border-top: 1px solid #f5f5f5; padding-top: 15px;">
    <h3 style="font-size: 1.2em; color: #2d7788;">招生期望</h3>
    {{ career-profile.student-expectations | markdownify }}
  </div><!--//student-expectations-->
  {% endif %}
  
</section><!--//section-->
{% endif %}
